@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bree+Serif&family=Heebo:wght@300&family=Lato:wght@300;400&family=Lexend+Deca&family=Merriweather&family=Roboto:wght@300&display=swap');
*{
    margin:0;
    padding:0;
}

#planeta{
    height: 150px;
    width: 200px;
    float : left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

#acerca_de_titulo{
    margin-right: 20px;
    text-align: right;
    font-family: 'Bree Serif', serif;
    font-size: 40px;
}

header{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #75E6FF;
    height: 330px;
}

/*menu*/
.menu{
    font-size: 25px;
}
.navegacion{
    margin:30px auto;
    background:#A4C7D6;
    margin-top: 30px;
    font-weight: bolder;
    border-radius: 35px;
}
.navegacion ul{
    list-style:none;
}
.menu > li{
    display:inline-block;
}
.menu > li >a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
}

#frase{
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    margin-right: 20px;
    font-size: 25px;
}

.seccion{
    background-color: #6BCB70;
    margin-top:20px;
    margin-right: 10px;
    margin-left: 10px;
    height: 900px;
}

.m_premium{
    text-decoration: none;
    color: red;
}

.m_premium:hover{
    text-decoration: none;
    color: white;
}

.inicios{
    padding:2%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 28px;
    text-align: justify;
}

form{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 95%;
    background: #A9FFAE;
}

#limite{
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Bangers', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;    
}

form input{
    margin-top:5px;
    margin-bottom:20px;
    padding:15px;
    border-radius: 35px;
    font-size: 20px;
}

.pie{
    background-color: #000000;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#derech_aut{
    margin-top: 20px;
    margin-left: 20px;
    height:100px;
}

.pie_de_pagina{
    color:white;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    list-style:none;
}

#gmail{
    width: 200px;
    height: 100px;
}

@media (max-width:800px){
    .navegacion{
        flex-direction:column-reverse;
    }
    header{
        height:200px;
    }
    .seccion{
        background-color: #6BCB70;
        margin-top:20px;
        margin-right: 10px;
        margin-left: 10px;
        height: 600px;
    }
    form{
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 20px;
        background: #A9FFAE;
        width: 95%;
    }
    form input{
        padding:5px;
        border-radius: 35px;
        font-size: 11px;
        flex-direction:column;
    }
    #limite{
        margin-right: 20px;
        margin-left: 20px;
        font-family: 'Bangers', cursive;
        font-family: 'Bree Serif', serif;
        font-family: 'Heebo', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Lexend Deca', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;    
    }
    .inicios{
        font-size: 15px;
    }
    .menu{
        font-size: 18px;
    }
    .navegacion{
        margin:30px auto;
        background:#A4C7D6;
        margin-top: 20px;
        font-weight: bolder;
        border-radius: 35px;
    }
    #acerca_de_titulo{
        margin-right: 20px;
        font-family: 'Bree Serif', serif;
        font-size: 20px;
    }
    #planeta{
        height: 120px;
        width: 150px;
        float : left;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 20px;
    }
    #frase{
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        margin-right: 20px;
        font-size:20px;
    }
}

@media (max-width:700px){
    .navegacion{
        flex-direction:column-reverse;
    }
    header{
        height:280px;
    }
    .seccion{
        background-color: #6BCB70;
        margin-top:20px;
        margin-right: 10px;
        margin-left: 10px;
        height: 600px;
    }
    form{
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 20px;
        background: #A9FFAE;
        width: 95%;
    }
    form input{
        padding:5px;
        border-radius: 35px;
        font-size: 11px;
        flex-direction:column;
    }
    #limite{
        margin-right: 20px;
        margin-left: 20px;
        font-family: 'Bangers', cursive;
        font-family: 'Bree Serif', serif;
        font-family: 'Heebo', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Lexend Deca', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;    
    }
    .inicios{
        font-size: 15px;
    }
    .menu{
        font-size: 18px;
    }
    .navegacion{
        margin:30px auto;
        background:#A4C7D6;
        margin-top: 20px;
        font-weight: bolder;
        border-radius: 35px;
    }
    #acerca_de_titulo{
        margin-right: 20px;
        font-family: 'Bree Serif', serif;
        font-size: 20px;
    }
    #planeta{
        height: 120px;
        width: 150px;
        float : left;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 20px;
    }
    #frase{
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        margin-right: 20px;
        font-size:20px;
    }
}

@media (max-width:550px){
    .navegacion{
        flex-direction:column-reverse;
    }
    header{
        height:280px;
    }
    .seccion{
        background-color: #6BCB70;
        margin-top:20px;
        margin-right: 10px;
        margin-left: 10px;
        height: 650px;
    }
    form{
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 20px;
        background: #A9FFAE;
        width: 90%;
    }
    form input{
        padding:5px;
        border-radius: 35px;
        font-size: 11px;
        flex-direction:column;
    }
    #limite{
        margin-right: 20px;
        margin-left: 20px;
        font-family: 'Bangers', cursive;
        font-family: 'Bree Serif', serif;
        font-family: 'Heebo', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Lexend Deca', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;    
    }
    .inicios{
        font-size: 15px;
    }
    .menu{
        font-size: 18px;
    }
    .navegacion{
        margin:30px auto;
        background:#A4C7D6;
        margin-top: 20px;
        font-weight: bolder;
        border-radius: 35px;
    }
    #acerca_de_titulo{
        margin-right: 20px;
        font-family: 'Bree Serif', serif;
        font-size: 20px;
    }
    #planeta{
        height: 120px;
        width: 150px;
        float : left;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 20px;
    }
    #frase{
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        margin-right: 20px;
        font-size:20px;
    }
}


@media (max-width:450px){
    .navegacion{
        flex-direction:column-reverse;
    }
    header{
        height: 400px;
    }
    .seccion{
        background-color: #6BCB70;
        margin-top:20px;
        margin-right: 10px;
        margin-left: 10px;
        height: 840px;
    }
    form{
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 20px;
        background: #A9FFAE;
        width: 90%;
    }
    form input{
        padding:5px;
        border-radius: 35px;
        font-size: 11px;
        flex-direction:column;
    }
    #limite{
        margin-right: 20px;
        margin-left: 20px;
        font-family: 'Bangers', cursive;
        font-family: 'Bree Serif', serif;
        font-family: 'Heebo', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Lexend Deca', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;    
    }
    .inicios{
        font-size: 15px;
    }
    .menu{
        font-size: 18px;
    }
    .navegacion{
        margin:30px auto;
        background:#A4C7D6;
        margin-top: 15px;
        font-weight: bolder;
        border-radius: 35px;
    }
    #acerca_de_titulo{
        margin-right: 20px;
        font-family: 'Bree Serif', serif;
        font-size: 20px;
    }
    #planeta{
        height: 120px;
        width: 150px;
        float : left;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 20px;
    }
    #frase{
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        margin-right: 20px;
        font-size:20px;
    }
}

@media (max-width:350px){
    .navegacion{
        flex-direction:column-reverse;
    }
    header{
        height:550px;
    }
    .seccion{
        background-color: #6BCB70;
        margin-top:20px;
        margin-right: 10px;
        margin-left: 10px;
        height: 900px;
    }
    form{
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 20px;
        background: #A9FFAE;
        width: 90%;
    }
    form input{
        padding:5px;
        border-radius: 35px;
        font-size: 11px;
        flex-direction:column;
    }
    #limite{
        margin-right: 20px;
        margin-left: 20px;
        font-family: 'Bangers', cursive;
        font-family: 'Bree Serif', serif;
        font-family: 'Heebo', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Lexend Deca', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;    
    }
    .inicios{
        font-size: 15px;
    }
    .menu{
        font-size: 18px;
    }
    .navegacion{
        margin:30px auto;
        background:#A4C7D6;
        margin-top: 15px;
        font-weight: bolder;
        border-radius: 35px;
    }
    #acerca_de_titulo{
        margin-right: 20px;
        font-family: 'Bree Serif', serif;
        font-size: 20px;
    }
    #planeta{
        height: 120px;
        width: 150px;
        float : left;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 20px;
    }
    #frase{
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        margin-right: 20px;
        font-size:20px;
    }
    #correo{
        font-size:x-small;
        font-size:21px;
    }
}

@media (max-width:300px){
    .navegacion{
        flex-direction:column-reverse;
    }
    header{
        height:520px;
    }
    .seccion{
        background-color: #6BCB70;
        margin-top:20px;
        margin-right: 10px;
        margin-left: 10px;
        height: 1070px;
    }
    form{
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 20px;
        background: #A9FFAE;
        width: 87%;
    }
    form input{
        padding:5px;
        border-radius: 35px;
        font-size: 11px;
        flex-direction:column;
    }
    #limite{
        margin-right: 20px;
        margin-left: 20px;
        font-family: 'Bangers', cursive;
        font-family: 'Bree Serif', serif;
        font-family: 'Heebo', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Lexend Deca', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;    
    }
    .inicios{
        font-size: 15px;
    }
    .menu{
        font-size: 18px;
    }
    .navegacion{
        margin:30px auto;
        background:#A4C7D6;
        margin-top: 15px;
        font-weight: bolder;
        border-radius: 35px;
    }
    #acerca_de_titulo{
        margin-right: 20px;
        font-family: 'Bree Serif', serif;
        font-size: 20px;
    }
    #planeta{
        height: 120px;
        width: 150px;
        float : left;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 20px;
    }
    #frase{
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        margin-right: 20px;
        font-size:20px;
    }
    #correo{
        font-size:x-small;
        font-size:17px;
    }

}
